
# added for GitHub upload
node_modules/
build/
dist/
venv/
.venv/
__pycache__/
*.pyc
*.db
*.sqlite
*.exe
*.zip
*.rar
*.log
.env
.env.local
.vscode/
.idea/
.sixth/
.claude/
.dart_tool/
.codex_appdata/
*.xlsx
*.spec
bin/
obj/
.secret_key
private_key.pem
db_config.json
